.main-show .main-show-b h3{
  float: left;
  width: 180px;
  height: 73px;
}

.main-show .main-show-b h3 .headline-logo {
  width: 129px;
  height: 0;
  padding-top: 26px;
  background: url(../img/headline.png) no-repeat 0 0/129px 26px;
  overflow: hidden;
}

.main-show .main-show-b h3 .sub-title {
  font-size: 12px;
  line-height: 24px;
  color: #999;
}