.main-show .main-show-wrap .main-show-t .sliders .main-slider {
  position: relative;
  width: 520px;
  height: 280px;
  background-color: #eee;
}

.main-show .main-show-wrap .main-show-t .sliders .main-slider:hover .dir-icon {
  display: block;
}

/* slider 页码 */
.main-show .main-show-wrap .main-show-t .sliders .main-slider .indicator {
  position: absolute;
  bottom: 15px;
  left: 50%;
  width: 73px;
  height: 13px;
  margin-left: -36.5px;
  padding-left: 2px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .4);
  border-radius: 7px;
}

.main-show .main-show-wrap .main-show-t .sliders .main-slider .indicator .indicator-dot {
  display: block;
  float: left;
  width: 8px;
  height: 8px;
  margin: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.main-show .main-show-wrap .main-show-t .sliders .main-slider .indicator .indicator-dot.cur {
  background-color: #ff5000;
}

.main-show .main-show-wrap .main-show-t .sliders .main-slider .main-slider-list {
  height: 280px;
}

.main-show .main-show-wrap .main-show-t .sliders .main-slider .main-slider-list .main-slider-item {
  height: 280px;
}

.main-show .main-show-wrap .main-show-t .sliders .goods-slider {
  position: relative;
  width: 520px;
  height: 230px;
  background-color: #ddd;
}

.main-show .main-show-wrap .main-show-t .sliders .dir-icon {
  position: absolute;
  display: none;
  top: 50%;
  width: 20px;
  height: 30px;
  margin-top: -15px;
  background-color: rgba(0, 0, 0, .4);
  line-height: 28px;
  font-size: 24px;
  color: #fff;
}

.main-show .main-show-wrap .main-show-t .sliders .dir-icon:hover {
  background-color: rgba(0, 0, 0, .7);
}

.main-show .main-show-wrap .main-show-t .sliders .dir-icon.dir-forward{
  right: 0;
  text-indent: 4px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.main-show .main-show-wrap .main-show-t .sliders .dir-icon.dir-backward{
  left: 0;
  text-indent: 1px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}