@import 'global.css';

.t-nav-cover {
  width: 100%;
  min-width: 1190px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #eee;
}

.t-nav-cover .site-nav {
  height: 35px;
  background-color: #000;
}

.t-main-cover {
  width: 100%;
  min-width: 1190px;
  background-color: #fff;
}

.t-main-cover .main-belt {
  height: 121px;
  background-color: orange;
}

.main-nav-cover {
    width: 100%;
    min-width: 1190px;
}

.main-nav-cover .main-nav {
  height: 30px;
  background-color: #ff5000;
}

.main-show-area .main-area {
  float: left;
  width: 900px;
  height: 632px;
}

.main-show-area .main-area .main-show {
  height: 522px;
  margin-bottom: 10px;
}

.main-show-area .main-area .main-show .nav-menu-list {
  float: left;
  width: 190px;
  height: 100%;
  background-color: blue;
}

.main-show-area .main-area .main-show .sliders-wrap {
  float: left;
  width: 520px;
  height: 512px;
  margin: 10px 0 0 10px;  
}

.main-show-area .main-area .main-show .sliders-wrap .main-slider {
  height: 280px;
  background-color: pink;
}

.main-show-area .main-area .main-show .sliders-wrap .goods-slider {
  height: 230px;
  background-color: #ff5000;
}

.main-show-area .main-area .main-show .sliders-wrap .goods-slider .goods-slider-hd {
  height: 18px;
  padding-top: 10px;
}

.main-show-area .main-area .main-show .hot-sale-imgs {
  float: left;
  width: 160px;
  height: 512px;
  margin: 10px 10px 0;
}

.main-show-area .main-area .main-show .hot-sale-imgs .t-img {
  height: 280px;
  background-color: green;
}

.main-show-area .main-area .main-show .hot-sale-imgs .b-img {
  height: 230px;
  background-color: yellowgreen;
}

.main-show-area .main-area .head-line {
  width: 890px;
  height: 100px;
  margin-right: 10px;
  background-color: green;
}

.main-show-area .funcs-area {
  float: left;
  width: 290px;
  height: 632px;
  margin-top: 10px;
}

.main-show-area .funcs-area .member {
  height: 145px;
  background-color: blue;
}

.main-show-area .funcs-area .menber-tip {
  height: 26px;
  background-color: green;
}

.main-show-area .funcs-area .member-notice {
  height: 108px;
  background-color: #000;
}

.main-show-area .funcs-area .member-funcs {
  height: 232px;
  background-color: purple;
}

.main-show-area .funcs-area .member-apps {
  height: 111px;
  background-color: pink;
}

.life-belt {
  height: 166px;
  background-color: #f40;
}